<h1>All Workouts</h1>

<ul>
<% @workouts.each do |workout| %>
<li>
  <strong><%= link_to workout.name, workout_path(workout) %></strong> -
  <%=workout.distance %> miles  -
  <%=workout.pace %> - added by: <%= workout.user.username %>
</li>

<% end %>
</ul>