<h4>Hi <%= @receiver.username  %>, </h4>

<p>It's awesome that you are training for <%= @receiver.races.size  %></p><br>

<p>Would you like to train with me?</p><br>

<p><%= @message %></p><br>

<p>Have a great day!</p><br>

<p>- <%= @sender.username %></p>